<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock title %}-DementionHub</title>

    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <!-- Header part -->
    <div class="flex justify-center">
      <div class="self-center top-0 w-full max-w-7xl">
        <div class="flex justify-between items-center text-gray-700">
          <div class="mx-2 my-4">
            <a href="/"> DIMENTION HUB </a>
          </div>
          <ul
            class="hidden md:flex items-center text-[18px] font-semibold pr-10"
          >
            <li
              class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
            >
              <a href="/">Technology</a>
            </li>
            <li
              class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
            >
              <a href="/business">Business </a>
            </li>
            <li
              class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
            >
              <a href="/politics">Politics</a>
            </li>
            <li
              class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
            >
              <a href="/sports">Sports</a>
            </li>
            <li
              class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
            >
              <a href="/entertainment">Entertainment</a>
            </li>
            <li
              class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
            >
              <a href="/health">Health</a>
            </li>
            <li
              class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
            >
              <a href="/science">Science</a>
            </li>
          </ul>
          <button
            class="block p-3 mx-10 md:hidden hover:bg-gray-200 rounded-xl group"
          >
            <div class="w-5 my-[3px] h-[3px] bg-gray-600 mb-[2px]"></div>
            <div class="w-5 my-[3px] h-[3px] bg-gray-600 mb-[2px]"></div>
            <div class="w-5 my-[3px] h-[3px] bg-gray-600"></div>
            <div
              class="absolute top-0 -right-full opacity-0 h-screen w-[60%] border bg-white group-focus:right-0 group-focus:opacity-100 transition-all ease-in duration-300"
            >
              <ul class="flex flex-col items-center text-[18px] pt-[60px]">
                <li
                  class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
                >
                  <a href="#">Home</a>
                </li>
                <li
                  class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
                >
                  <a href="#">About Us</a>
                </li>
                <li
                  class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
                >
                  <a href="#">Our Services</a>
                </li>
                <li
                  class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
                >
                  <a href="#">Portfolio</a>
                </li>
                <li
                  class="text-stone-600 hover:text-blue-600 hover:font-bold font-medium mx-4 my-1"
                >
                  <a href="#">Contact</a>
                </li>
                <li
                  class="text-blue-600 hover:text-white hover:bg-blue-600 mx-4 my-1 border-2 border-blue-600 px-2 rounded-2xl"
                >
                  <a href="#">LogIn</a>
                </li>
                <li
                  class="text-white bg-blue-600 px-2 rounded-2xl mx-4 my-1 hover:bg-white hover:text-blue-600 hover:border-2 hover:border-blue-600"
                >
                  <a href="#">SignUp</a>
                </li>
              </ul>
            </div>
          </button>
        </div>
      </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- End of the Header -->

    <!-- body -->

    {% block body %} {% endblock body %}

    <!-- end of Body -->

    <!-- Footer  -->
    <div class="flex items-center justify-around">
      <div
        class="m-2 items-start relative w-full flex flex-row justify-between mt-8 ml-8 mr-8 max-w-7xl"
      >
        <div class="relative">
          <div
            class="md:flex hidden bg-gray-900 p-3 flex-col text-center pt-5 space-y-8 md:flex-row md:justify-between md:space-y-0"
          >
            <div
              class="flex mx-3 justify-between space-x-20 md:flex-row text-gray-200 md:space-x-28 md:ml-20 lg:ml-24 lg:space-x-[15rem] xl:space-x-90 xl:ml-24"
            >
              <p>@ Copyright <strong>DIMENTION HUB </strong>All Rights Reserved</p>
              <p>
                Created by <span class="text-blue-600">Shodhan Shetty</span>
              </p>
            </div>
            <div
              class="text-white pb-4 text-center text-xl space-x-2 md:w-2/4 md:pb-0 md:pl-2 md:space-x-1 lg:pl-[171px] lg:space-x-2 xl:pl-44"
            >
              <a
                href="https://twitter.com/Shodhan04218179"
                class="w-8 h-8 bg-orange-500 hover:text-orange-500 inline-block rounded-full pt-[3px] hover:bg-gray-200"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="https://www.instagram.com/_shodhan_/"
                class="w-8 h-8 bg-orange-500 hover:text-orange-500 inline-block rounded-full pt-[3px] hover:bg-gray-200"
                ><i class="fa fa-instagram"></i
              ></a>
              <a
                href="https://www.facebook.com/shodhan.shetty.5201/"
                class="w-8 h-8 bg-orange-500 hover:text-orange-500 inline-block rounded-full pt-[3px] hover:bg-gray-200"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="https://github.com/shodhanshetty14"
                class="w-8 h-8 bg-orange-500 hover:text-orange-500 inline-block rounded-full pt-[3px] hover:bg-gray-200"
                ><i class="fa fa-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/shodhan-shetty-926170203/"
                class="w-8 h-8 bg-orange-500 hover:text-orange-500 inline-block rounded-full pt-[3px] hover:bg-gray-200"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Footer -->

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
  </body>
</html>
